<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400, 600' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">  
        <div class="main">
          <h1>Gain Knowledge</h1>
          <a (click)="redirect()"class="btn-main">See Book</a>
          
        </div>
      </div>
    </div>

   

    <div class="footer">
      <div class="container">
        <p>&copy; Broadway 2015</p>
      </div>
    </div>
  </body>
</html>